i.clear{ display: block; height: 0; clear: both; width: 0;}
.hide{ display: none;}

html, body{ margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;}
header{width:960px; margin: auto; padding: 40px 0;  }
.mainLogo, .headtext{ display: inline-block; vertical-align: top; }
.mainLogo { margin-right: 4px;  margin-left: -7px;}
.headtext {  font-size: 14px;  color: #f62b2b;line-height: 18px;text-align: left;width: 300px;margin-top: -3px;}
.bluebutton { width: 210px; height: 40px;  background:#2365c2; border-radius:3px; cursor: pointer; border: 0; color: #fff; font-size: 14px; display: inline-block; vertical-align: top; float: right;}
.redsplit { width: 100%;height: 5px; background: #f62b2b; clear: both; }
.mainmenu { width: 960px; margin: auto; display: block; padding: 20px 0; font-family: 'Open Sans'; font-weight: 800; font-style: normal; }
.mainmenu a{ display: inline-block; color: #f62b2b; padding: 7px 15px 10px; border-radius: 3px; text-decoration: none; margin: 0 10px 0 0; font-weight: bold;  font-size:16px;      text-align:center; }
.mainmenu a.active, .mainmenu a:hover{ color: #fff; background:#f62b2b }
/*.mainmenu a.active{ color: #0082f3!important;}*/
h3{ font-size: 24px; line-height: 24px;}
.frontimg{
  width: 100%; height: 600px;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .65), rgba(3, 35, 73, .65)), url("../img/main_blue_brainInHands.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .65), rgba(3, 35, 73, .65)), url("../img/main_blue_brainInHands.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}
.imgdeskr{  text-align: center; }
.whitelogo{ margin: 191px 0 40px; }
.whiteText{ width: 620px; margin: auto; text-align: center; color: #fff; font-size:14px; line-height:21px; }
.imgdeskr .whiteText{ font-size: 16px; font-weight: bold; line-height: 26px;}
button.join{ border: 2px solid #fff; color: #fff;  border-radius: 3px; font-size: 14px; padding: 10px 0; width: 400px; cursor: pointer; margin-top: 40px;     background-color: transparent;
  -webkit-transition: background-color 500ms cubic-bezier(.19, 1, .22, 1);
  transition: background-color 500ms cubic-bezier(.19, 1, .22, 1);
}
button.join:hover {      background-color: rgba(3, 35, 73, .5);}
.midheader{ display: block; margin: 40px auto;  height: 76px;max-width: 620px;color: #f62b2b;border: 2px solid #f62b2b;border-radius: 7px;padding-left: 160px;font-size: 24px;font-style: normal;text-decoration: none;line-height: 70px;box-sizing: border-box;
  background: url("../img/Places_main_page.svg") 22px 25px  no-repeat; cursor: pointer;}

.card{    display: block;box-sizing: border-box;width: 100%;max-width: 700px;margin-right: auto;margin-bottom: 30px;margin-left: auto;    padding: 40px 20px;-webkit-transition: box-shadow 200ms linear;transition: box-shadow 200ms linear;color: #000; text-decoration: none;}
.card:hover{box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .12);}
.cardleft{ width: 140px; float: left;}
.cardright{ float: left;     width: 480px;      padding-left: 40px;    }
.cardico{ width: 140px; }
.redone, .blueone, .greenone{ border:2px solid;     padding: 0 10px;      height:25px; background: #fff; margin-right: 10px; color: #f62b2b; font-weight: bold; cursor: pointer;  }
.redone{ border-color: #f62b2b; color: #f62b2b}
.blueone{ border-color: #2365c2; color: #2365c2}
.greenone{ border-color: #20b69b; color: #20b69b}
.greyDate{    color: #979797;      font-size: 12px;}
.card h3{ font-size: 24px; font-weight: bold;    margin: 10px 0;      line-height: 27px;}
.articleText{ font-size: 14px; line-height: 21px; }
.articleLink{ color: #979797; font-size: 14px; margin-top: 20px; text-decoration: underline; cursor: pointer;}

.greypart{ position: relative; width: 100%;     height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 4%;
  padding-left: 4%;
  background-image: url("../img/Antistroks_pattern_45x26_white.png"), -webkit-linear-gradient(270deg, rgba(3, 35, 73, .05), rgba(3, 35, 73, 0));
  background-image: url("../img/Antistroks_pattern_45x26_white.png"), linear-gradient(180deg, rgba(3, 35, 73, .05), rgba(3, 35, 73, 0));
  background-position: 0px 0px, 0px 0px;
  background-size: 36px, auto;
  box-sizing: border-box;
}
.photoPart{
  position: relative; width: 100%; height: 600px;  margin-top: 160px;  margin-bottom: 40px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .5), rgba(3, 35, 73, .5)), url("../img/conquest.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .5), rgba(3, 35, 73, .5)), url("../img/conquest.jpg");
  background-position: 0px 0px, 0px 0px;  background-size: 36px, auto;  box-sizing: border-box;
}

.middlepart{ margin-bottom: 100px;}
.redcircle{position: static;display: block;width: 140px;height: 140px;margin-right: auto;margin-left: auto;border-radius: 70px;background-color: #f62b2b;position: relative;
  top:-70px;}
.logoWhite{background-image: url("../img/WHO_logo_white.svg");      background-position: 50% 50%;      background-size: 80px;      background-repeat: no-repeat;     width: 140px;height: 140px;}
.logoWhiteConquest{background-image: url("../img/WHO_logo_white.svg");      background-position: 50% 50%;      background-size: 80px;      background-repeat: no-repeat;     width: 140px;height: 140px;}
.section-header{ color: #F62B2B; font-size: 24px; font-weight: bold; display: block; width: 624px; margin: auto; margin-bottom: 60px; text-align: center;margin-top: -10px; }
.middleIcons{ width: 940px; margin: auto; }
.transpCard .cardimgPlace{ width: auto;}
.cardimgPlace{ width: 200px; height: 160px; text-align: center;}
.cardimgPlace img{ vertical-align: middle;}
.helper{    display: inline-block;      height: 100%;      vertical-align: middle;}
.transpCard{ width: 200px; float: left; margin-right: 30px; text-align: center;}
.cardText{ text-align: center; font-size: 14px;}

.logoWrapper{ text-align: center;}
h2{color:#F62B2B; display: block; text-align: center; width: 620px; margin: 30px auto 60px;}
.articles{ width: 940px; margin: auto;}
article{ width: 313px; min-height:93px; float: left; font-size: 16px; border-left: 4px solid #F62B2B; padding-left: 16px; box-sizing: border-box; margin-bottom: 70px; display: block;}
article .text{ width: 275px}
.smallText{ font-size: 12px; margin-top: 10px;}

.centerLogos{ width:960px; margin: 20px auto 90px; text-align: center; }
.logosCard{width: 140px; min-height: 205px; display: inline-block; text-align: center; vertical-align: top;     margin-right: 15px;}
.Helper{    display: inline-block;      height: 100%;  vertical-align: middle;}
.imgwrap{width: 140px; height: 140px;}
.imgwrap img{  vertical-align: middle;}
.logosText{ font-size: 12px; text-align: center;}
.logosText a{ color: #000; text-decoration: none}

.mainFooter{      width: 100%; height: 177px; border-top:4px solid #F62B2B;    }
.footercenter{ width: 960px; margin: auto; background: url("../img/Astroks_pattern.svg") bottom right no-repeat; background-size: 40%; padding-top: 40px;box-sizing: border-box;  height: 100%;}
.footercenter .links a{ font-size: 12px; color:#F62B2B; display: block; }
.footerLogo{ margin-bottom: 20px;}

/* MODAL POPUP */
.modal-wrapper {  position: fixed;left: 0px;top: 0px;right: 0px;bottom: 0px;z-index: 9999; height: 100%;padding-top: 80px;background-color: rgba(0, 0, 0, .7);text-align: center;    }
.signup-wrapper {  position: relative;display: block;width: 100%;max-width: 540px;margin-right: auto;margin-left: auto;padding: 40px;background-color: #f2f2f2;    }
a.close-bttn {  position: absolute;top: -37px;right: -102px;background-color: transparent;color: hsla(0, 0%, 100%, .5); font-size: 14px;   }
a.close-bttn:hover {        color: #fff;    }
.w-button {  display: inline-block;padding: 9px 15px;background-color: #3898EC;color: white;border: 0;line-height: inherit;text-decoration: none;cursor: pointer;border-radius: 0    }
h5 {  margin-top: 40px;margin-bottom: 20px;color: #f62b2b;font-size: 14px;line-height: 20px;font-weight: 700;    }
.w-form {  margin: 0 0 15px    }
.w-clearfix:before, .w-clearfix:after {        content: " ";        display: table    }
.w-clearfix:after { clear: both }
.w-input{  display: block;width: 100%;height: 38px;padding: 8px 12px;margin-bottom: 10px;font-size: 14px;line-height: 1.42857143;color: #333333;vertical-align: middle;background-color: #ffffff;border: 1px solid #cccccc    }
.w-radio {  display: block;margin-bottom: 5px;padding-left: 20px    }
.w-radio-input { margin-top: 3px }
.w-radio-input {margin: 4px 0 0;  margin-top: 1px \9;line-height: normal;float: left;margin-left: -20px;}
.radio-button-field.w-radio {  display: inline-block;width: 49%;text-align: left; box-sizing: border-box;}

.w-form-label {  isplay: inline-block;cursor: pointer;font-weight: normal;margin-bottom: 0 }
.w-radio:before, .w-radio:after {content: " ";display: table }
.w-radio:after {clear: both }
.w-button {  display: inline-block;padding: 9px 15px;background-color: #3898EC;color: white;border: 0;line-height: inherit;text-decoration: none;cursor: pointer;border-radius: 0    }
.success-message {        background-color: #90ee90;    }
.w-form-fail {               background-color: #ffdede;    }
.popupbutton{ font-size: 14px; margin-top: 20px;}
.w-form-done,.w-form-fail{margin-top: 20px;padding: 10px;  }

/*conquest*/
.contextPhotoDescr .cardimgPlace{ height: 80px; margin-top: 40px; }
.conquestPlaces{ position: relative;  top:40px; left: 25px}
.section-header.white{ color: #fff; margin-top: 180px; font-weight: 600;}
.cardTextRed{ font-size: 24px; color: #F62B2B;}
.contextPhotoDescr .transpCard, .contextPhotoDescr .cardimgPlace{ width: 255px;  }
.contextPhotoDescr .middleIcons{ text-align: justify;}
.contextPhotoDescr .transpCard{  margin:0; float: none; display: inline-block; vertical-align: top; }
.contextPhotoDescr .transpCardLast{ width: 100%; height:0; display: inline-block; }

/*accordon*/
.contestAccordion{ width: 620px; margin: 40px auto; display: block; font-size: 14px; }
.redInfoButton{ width: 100%; background: rgba(246,43,43,0.10); border-radius: 3px; font-size: 14px; color:#f62b2b;  text-align:center; font-weight: bold; border: 0; margin: 10px auto; height:44px; cursor: pointer; outline: none; }
.redInfoButton:hover{ border: 1px dashed #f62b2b;}
.simpleUl{ margin: 20px 0;}
.simpleUl li { margin-bottom: 10px; font-size: 14px; margin-right: 20px;}
.accordionText{line-height: 21px; }
.accordionText p{ padding: 0 20px; }
.accordionText h5{ margin: 40px 20px 20px;}
.bold{ font-weight: bold}
.accordionText a{ color: #f62b2b }
.accBottom{ text-align: center; margin: 70px 0;}
.medalSvg{overflow: hidden; border-radius: 70px; display: inline-block;  }
.nabiSpacer{ margin-top: 70px;}



/*---*/
.factors li{ font-weight: 100}
.factors .bold {font-size: 15px; font-weight: 800px; color: #000 }


/* NEWS */

nav.newsMenu{ margin: 40px auto; width: 700px; position: relative; left: 50px;}

.newsMenu a{ display: inline-block; height: 45px; padding:0 15px; margin: 0 5px; text-decoration: none; color:#9B9B9B; cursor: pointer; font-size: 14px; font-weight: bold; box-sizing: border-box; line-height: 41px; border: 2px solid #fff;}
.newsMenu a.greyTab:hover, .newsMenu a.greyTab.active { border: 2px solid #9B9B9B; color: #9B9B9B }
.newsMenu a.redTab:hover, .newsMenu a.redTab.active{ border: 2px solid #F62B2B; color: #F62B2B}
.newsMenu a.blueTab:hover, .newsMenu a.blueTab.active{ border: 2px solid #2365C2; color: #2365C2}
.newsMenu a.greenTab:hover, .newsMenu a.greenTab.active{ border: 2px solid #20B69B; color: #20B69B}


/* pilot */
.medMiddle{ width: 460px; margin: 80px auto; text-align: center; font-size: 14px; line-height: 21px;}
.medMiddle h1{ font-size: 24px; margin-top: 40px;}
.centerText, .topOne { margin: 30px 0}
.topTwo{ margin: 80px 0 0 0; }
.photoPart2{
  color: #fff;
  position: relative; width: 100%; height: 468px;  margin-top: 100px;  margin-bottom: 40px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .5), rgba(3, 35, 73, .5)), url("../img/pen.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .5), rgba(3, 35, 73, .5)), url("../img/pen.jpg");
  background-position: 0px 0px, 0px 0px;  background-size: 36px, auto;  box-sizing: border-box;
}
.photoPart3{
  color: #fff;
  position: relative; width: 100%; height: 822px;  margin-top: 160px;  margin-bottom: 40px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/worked_man.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/worked_man.jpg");
  background-position: 0px 0px, 0px 0px;  background-size: 36px, auto;  box-sizing: border-box;
}
.photoPart3 h3{ color: #fff; font-size: 24px; line-height: 24px;}
.imgIcoCenter{    margin: auto;text-align: center;width: 460px;padding: 80px 0 20px;}
.lefttext{ text-align: left; }
.red{ color: #F62B2B }
.leftside, .rightside{ width: 380px; display: inline-block; vertical-align: top; text-align: left; font-size: 14px; }
.leftside{    margin-right: 216px;}
.contentText{ text-align: center; }
.contentText p,.contentText  li{line-height: 21px;}
.step{ text-align: center;}
.top40{ margin-top: 40px;}

.materials{ margin-bottom: 130px; }
.metTab{ font-size: 14px; margin: 0 auto 20px; width:620px;  min-height:112px;  border-radius: 3px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12); border:1px solid rgba(0, 0, 0, .12); padding: 0 0 6px; }
.metTab:hover{box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .12);}
.lefPdfIco{ width: 140px; height: 100%; text-align: center; float: left; min-height: 125px;}
.lefPdfIco svg{ position: relative; top: 26px;}
.metTab .descr{ padding: 20px 12px 10px;}
.metTab a{ width: 101px; height: 33px; border-radius: 3px; background: none; border: none; color: #F62B2B; font-size: 16px; cursor: pointer; text-decoration: none;  display: inline-block; text-align: center; line-height: 33px;}
.metTab a:hover{ background: #F62B2B; color: #fff}
.metTab a:hover svg path {fill:#fff;}


/*Specialists*/
.specialists{ font-size: 14px; line-height: 21px;}
.photoPart4{
  color: #fff;
  position: relative; width: 100%; height: 514px;  margin-top: 160px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/specialists.jpg"); background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/specialists.jpg");background-repeat: no-repeat;
  background-position: 0px 0px, 0px 0px;  box-sizing: border-box; background-size: cover;
}
.photoPart4 h2{ margin: 0px auto 60px;}
.specialists h2.white{ font-size: 24px; color: #fff;}
.specialists h2.white.second{ margin-top: 40px; }
.specialists .materials h1{ font-size: 26px; text-align: center; margin: 90px 0 30px; line-height: 30px; }
.specialists .materials{     top: -60px;  position: relative;  z-index: 1; margin-bottom: 70px;}
.specialists .centerText{ width: 620px; margin: auto; text-align: center;}
.specialists .metTab{ background: #fff; }

/* agreement*/
.agreement{ width: 620px; margin: auto; font-size: 14px; line-height: 21px; margin:  60px auto}
.agreement h1{ margin: 30px 0;}

/* citizen */
.citizen{ font-size: 14px; line-height: 21px; }
.photoPart5{
  color: #fff;
  position: relative; width: 100%; height: 495px;  margin-top: 100px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/brains.jpg"); background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/brains.jpg");background-repeat: no-repeat;
  background-position: 0px 0px, 0px 0px;  box-sizing: border-box; background-size: cover;
}
.citizen h2.white{ color: #fff; margin: -30px auto 20px; text-align: center; font-size: 24px; line-height: 30px; }
.mid960{ width: 960px; margin: auto; }
.mid620{ width: 620px; margin: auto; }
.mid960.textMidColumn {margin: 50px auto 80px;}
.textMidColumn { text-align: center; }
.textColumn{ width: 300px; text-align: left; display: inline-block;  vertical-align: top; margin-right: 25px; }
.textColumn:last-child{ margin-right: 0;}
.redthingIco{ position: absolute;  top:-25px; left: 80px;}

.citizenLinks{ position: relative; height: 375px; box-sizing: border-box; padding: 80px; text-align: left;}

.citizenLinks h2.red{ font-size: 24px; margin: 20px 0 40px; text-align: left;}
.mid620 h4.blue{ text-align: center; margin-top: 60px; font-size: 16px;}
.mid620{ font-size: 14px; line-height: 21px; }

.shadowcube{ box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .25); text-align: left;}
.citizenLinks nav a{ display: block; color: #000; margin-bottom: 20px;  }
.citizenLinks nav a.active{ text-decoration: none; cursor: default;}

/* how to know insult */
.photoPart6{
  color: #fff;
  position: relative; width: 100%; height: 396px;  margin-top: 160px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/headkill.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/headkill.jpg");
  background-repeat: no-repeat;  background-position: 0 0, -110px -240px;  box-sizing: border-box;
}

.howh1{ margin: 80px 0 40px; }
.blue{ color:#2365C2; }

.mid940{ width: 940px; margin: auto;}
.svgIcPlace{ text-align: center;}
.text4column{ width: 220px; display: inline-block; vertical-align: top; font-size: 14px; line-height: 21px; text-align: left; margin-right: 10px; }
.text4column:last-child{ margin-right: 0;}
.text4column h5{ display: block; font-size: 14px; line-height: 21px; min-height: 42px; }

.text3column{ width: 220px; display: inline-block; vertical-align: top; font-size: 14px; line-height: 21px; text-align: center; margin-right: 130px; margin-top: 40px; }
.text3column .svgIcPlace{ height: 60px;}
.text3column:last-child{ margin-right: 0;}
.text3column h5{ display: block; font-size: 14px; line-height: 21px; min-height: 42px; color: #2365C2 }

.mid620 ul.padleft0{  padding-left: 0;}
.mid620 ul li { margin: 20px }

.leftsvg{  width: 50px; height: 60px; float: left; }
.buleText{ font-size: 16px;  font-weight: bold;line-height: 22px;width: 510px;padding-left: 30px;box-sizing: border-box;float: left; }
.lastWarn{ margin: 80px 0 80px; display: block;}

/* howTomiss */
.photoPart7{
  color: #fff;
  position: relative; width: 100%; height: 455px;  margin-top: 160px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/dr_look.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/dr_look.jpg");
  background-repeat: no-repeat;  background-position: 0 0, center -100px;  box-sizing: border-box;
}
.black{ color: #000;}
.redlineLeftText{ border-left: 2px solid #F62B2B; font-size: 14px; line-height: 21px; width:480px; box-sizing: border-box; padding-left: 20px; margin: 60px 0 140px 50px; }

.howtomiss .middleIcons{ margin-top: 80px;}
.howtomiss .transpCard{ width: 300px; margin-right: 10px; }
.howtomiss .transpCard .cardimgPlace{ height: 100px; }
.howtomiss .transpCard .cardText{ text-align: left;}
.redSmalltext{  color:#F62B2B; font-size:14px; line-height: 21px; margin-bottom: 25px;  font-weight: bold; }

.photoPart8 {
  color: #fff;
  position: relative; width: 100%; height: 763px;  margin-top: 160px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/funnyRunners.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/funnyRunners.jpg");
  background-repeat: no-repeat;  background-position: 0 0, center top;  box-sizing: border-box;
}
.white{ color: #fff;}
.citizenLinks.topper{ margin-top: -125px; background: #fff;}

/* howtorepare */
.photoPart9 {
  color: #fff;
  position: relative; width: 100%; height: 483px;  margin-top: 160px;  margin-bottom: 0px;  padding-right: 4%;  padding-left: 4%;
  background-image: -webkit-linear-gradient(270deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/hand_up.jpg");
  background-image: linear-gradient(180deg, rgba(3, 35, 73, .7), rgba(3, 35, 73, .7)), url("../img/hand_up.jpg");
  background-repeat: no-repeat;  background-position: 0 0, center top;  box-sizing: border-box;
}
.marbot80{ margin-bottom: 80px;}


/*news article*/
.newsArticle{ font-size: 14px; line-height: 21px;}
a.blueone{ display: inline-block; margin-right: 10px; }
.newsArticle h1{ line-height: 26px;  margin: 30px 0 20px;}

nav.breadcrumbs{ margin: 30px 0; }
nav.breadcrumbs a { color:#979797; font-size: 12px; }
a.blueone, a.redone, a.greenone{ text-decoration: none; }

/*modal specialist*/
.wrapcontent{ position: relative}
.signup-wrapper.specialist_wrapper{ padding: 0; text-align: left;}
.modalIcoRed{ position: absolute; top: -27px; left: 50px; }
.redalert{ padding: 40px; background: #fff; font-weight: bold;}
.greyalert{ padding: 40px 40px 20px 40px; }
.greyalert h5{ margin: 0}

.checkbox{ text-align: center;}
.buttonsRed{ padding: 10px 40px 40px; }
a.redbutton{ display: block; background: #F62B2B; width: 100%; height: 42px; line-height: 42px; text-decoration: none; cursor: pointer; border-radius: 3px; margin: 10px 0; text-align: center; color: #fff;}
a.redbutton.disabled{ opacity: 0.3 }

/* howtoMiss */
.padleft0.bold li { font-size: 16px;}